# Copyright (c) 2015, Tom Honermann
#
# This file is distributed under the MIT License. See the accompanying file
# LICENSE.txt or http://www.opensource.org/licenses/mit-license.php for terms
# and conditions.

# Ignore all generated make dependency files.
*.d
# Ignore generated binaries.
bin/
# Ignore the GNU idutils ID file.
ID
